<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8"> 
      <title>Peojects page Page</title>
   </head>
   <body>
        {{> header}}
        <p>portfolio goes here</p>   
   </body>
   {{> footer}}
</html>